@import '../define/all';

.ac-wrap {
  position: absolute;
}

.ac-rwrap {
  background-color: $white;
  box-shadow: $shadow-m;
  border: 1px solid $white5;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.ac-row {
  padding: 7px 10px 5px 10px;;
  border-bottom: 1px solid $white3;

  &.selected {
    background-color: $lightbrand2;
  }

  &:hover {
    background-color: $lightbrand3;
    cursor: pointer;
  }

  &:last-child {
    border-bottom: none;
  }
}

.ac-pr, .ac-sc {
  vertical-align: baseline;
  display: block;
}

.ac-pr {
  font-size: 16px;
  color: $black3;
}

.ac-sc {
  font-size: 12px;
  padding-top: 5px;
  color: $gray3;
}
