/**
 * Base control component.
 *
 * This class is not meant to be consumed directly. Instead, it should be
 * subclassed by other control elements such as checkboxes and toggles.
 */

@import '../define/all';

$control-height: 18px;
$control-height-s: 14px;

@mixin control() {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: $control-height;
  cursor: pointer;

  input {
    display: none;
  }

  .indicator + * {
    @include default-transition();
    color: $gray2;
    user-select: none;
    font-size: 14px;
    line-height: $control-height;
  }

  .indicator {
    @include default-transition();
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: $control-height;
    border: none;
    user-select: none;

    &::before {
      position: relative;
      content: '';
    }
  }

  &.small {
    line-height: $control-height-s;

    .indicator + * {
      font-size: 12px;
    }

    .indicator {
      height: $control-height-s;
    }
  }

  &.right .indicator {
    left: auto;
    right: 0;
  }

  input:checked + .indicator {
    background-color: $brand3;
  }

  input:focus + .indicator {
    box-shadow: 0 0 1px $brand3;
  }

  input:disabled + .indicator {
    background-color: $white5;
    cursor: no-drop;
  }

  input:disabled + .indicator + span {
    color: $white5;
    cursor: no-drop;
  }

  &:hover {
    .indicator + * {
      color: $gray4;
    }

    input:checked + * {
      color: $brand3;
    }
  }

  @each $intent, $color in $intent-colors {
    &.#{$intent} {
      input:checked + .indicator {
        background-color: $color;
      }

      input:focus + .indicator {
        box-shadow: 0 0 1px $color;
      }

      input:disabled + .indicator {
        box-shadow: none;
        background-color: $white5;
      }

      &:hover input:checked + * {
        color: $color;
      }
    }
  }
}
