@import '../define/all';

.dropzone {
  @include default-transition();
  border: 1px dashed $gray1;
  border-radius: $border-radius;
  width: 100%;
  min-height: 150px;
  text-align: center;
  padding: $padding-xl;

  .zone-texts, .upload-prompt {
    @include default-transition();
  }

  .upload-prompt {
    color: $brand3;
    cursor: pointer;
    margin-bottom: $padding-xs;
  }

  .upload-prompt:hover {
    color: $brand5;
  }

  .selected-files {
    color: $gray1;
    overflow-wrap: break-word;
  }

  input.file-input {
    display: none;
  }
}

.dropzone.dropping {
  border: 1px dashed $brand3;
  min-height: 200px;

  .zone-texts {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
  }
}
