@import '../define/all';

.info-banner {
  max-height: 0;
  overflow: hidden;
  border-radius: $border-radius;
  font-size: 14px;
  border: 0px solid rgba(255, 255, 255, 0);

  &:not(.top.full-width) {
    @include default-transition();
  }

  .info-content {
    max-width: $max-width;
    margin: auto;
    padding: 0 $padding;
  }

  &.shown {
    padding: 15px 0;
    margin-bottom: 10px;
    max-height: 400px;
  }

  @each $intent, $color in $intent-light-colors {
    &.#{$intent} {
      background-color: $color;
      border: 1px solid darken($color, 10%);
    }
  }

  svg.svg-inline--fa {
    position: absolute;
    padding-top: 2px;
    transform: translateY(1px);
  }

  svg.svg-inline--fa + span {
    display: inline-block;
    margin-left: 25px;
  }
}

.info-banner.full-width {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.info-banner.top.shown {
  margin-bottom: 0;
}
