@import '../define/all';

.highlight .c { color: $gray1; } /* Comment */
.highlight .err { color: $vermilion3; border: 1px solid $vermilion3; } /* Error */
.highlight .g { color: $black2 } /* Generic */
.highlight .k { color: #e36209 } /* Keyword */
.highlight .l { color: $black2 } /* Literal */
.highlight .n { color: $black2 } /* Name */
.highlight .o { color: #e36209 } /* Operator */
.highlight .x { color: $black2 } /* Other */
.highlight .p { color: $black2 } /* Punctuation */
.highlight .cm { color: $gray1 } /* Comment.Multiline */
.highlight .cp { color: $gray1 } /* Comment.Preproc */
.highlight .c1 { color: $gray1 } /* Comment.Single */
.highlight .cs { color: $gray1 } /* Comment.Special */
.highlight .gd { color: $vermilion3 } /* Generic.Deleted */
.highlight .ge { color: $black2; font-style: italic } /* Generic.Emph */
.highlight .gr { color: $vermilion3 } /* Generic.Error */
.highlight .gh { color: $black2; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: $forest3 } /* Generic.Inserted */
.highlight .go { color: $black2; font-style: italic } /* Generic.Output */
.highlight .gp { color: $gray1 } /* Generic.Prompt */
.highlight .gs { color: $black2; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #6f42c1; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: $vermilion3 } /* Generic.Traceback */
.highlight .kc { color: #e36209 } /* Keyword.Constant */
.highlight .kd { color: #e36209 } /* Keyword.Declaration */
.highlight .kn { color: #e36209 } /* Keyword.Namespace */
.highlight .kp { color: #e36209 } /* Keyword.Pseudo */
.highlight .kr { color: #e36209 } /* Keyword.Reserved */
.highlight .kt { color: #e36209 } /* Keyword.Type */
.highlight .ld { color: #005cc5 } /* Literal.Date */
.highlight .m { color: #005cc5 } /* Literal.Number */
.highlight .s { color: $forest3 } /* Literal.String */
.highlight .na { color: $gold1 } /* Name.Attribute */
.highlight .nb { color: #e36209 } /* Name.Builtin */
.highlight .nc { color: $black2 } /* Name.Class */
.highlight .no { color: $black2 } /* Name.Constant */
.highlight .nd { color: #6f42c1 } /* Name.Decorator */
.highlight .ni { color: #e36209 } /* Name.Entity */
.highlight .ne { color: $vermilion3 } /* Name.Exception */
.highlight .nf { color: #6f42c1 } /* Name.Function */
.highlight .nl { color: #e36209 } /* Name.Label */
.highlight .nn { color: $black2 } /* Name.Namespace */
.highlight .nx { color: $black2 } /* Name.Other */
.highlight .py { color: $black2 } /* Name.Property */
.highlight .nt { color: #e36209 } /* Name.Tag */
.highlight .nv { color: $black2 } /* Name.Variable */
.highlight .ow { color: #e36209 } /* Operator.Word */
.highlight .w { color: $gray3 } /* Text.Whitespace */
.highlight .mf { color: $brand3 } /* Literal.Number.Float */
.highlight .mh { color: $brand3 } /* Literal.Number.Hex */
.highlight .mi { color: $brand3 } /* Literal.Number.Integer */
.highlight .mo { color: $brand3 } /* Literal.Number.Oct */
.highlight .sb { color: $forest3 } /* Literal.String.Backtick */
.highlight .sc { color: $forest3 } /* Literal.String.Char */
.highlight .sd { color: $gray1 } /* Literal.String.Doc */
.highlight .s2 { color: $forest3 } /* Literal.String.Double */
.highlight .se { color: $forest3 } /* Literal.String.Escape */
.highlight .sh { color: $forest3 } /* Literal.String.Heredoc */
.highlight .si { color: $forest3 } /* Literal.String.Interpol */
.highlight .sx { color: $forest3 } /* Literal.String.Other */
.highlight .sr { color: $forest3 } /* Literal.String.Regex */
.highlight .s1 { color: $forest3 } /* Literal.String.Single */
.highlight .ss { color: $forest3 } /* Literal.String.Symbol */
.highlight .bp { color: $black2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: $black2 } /* Name.Variable.Class */
.highlight .vg { color: $black2 } /* Name.Variable.Global */
.highlight .vi { color: $black2 } /* Name.Variable.Instance */
.highlight .il { color: $brand3 } /* Literal.Number.Integer.Long */
