/**
 * CSS-based radio button.
 *
 * Usage:
 *
 * <label class="radio">
 *   <input type="radio">
 *   <div class="indicator"></div>
 *   <span>Danqing loves Audrey</span>
 * </label>
 */

@import '../define/all';
@import 'control';

.radio {
  @include control();

  .indicator {
    @include default-transition();
    border-radius: 50%;
    background: $white1;
    border: 1px solid $gray1;
    width: $control-height;
    box-shadow: $shadow-s;
  }

  .indicator + * {
    margin-left: 30px;
  }

  input:checked ~ .indicator {
    border-color: $brand3;
  }

  input:checked ~ .indicator:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: $brand3;
    width: 1em;
    height: 1em;
    content: '';
    box-sizing: border-box;
    border: 2px solid $white;
  }

  &:hover {
    .indicator {
      border-color: $brand3;
      background-color: $lightbrand2;
    }
  }
}

.radio-group {
  label.radio {
    display: block;
    margin-bottom: $padding;

    .primary {
      color: $black3;
      font-weight: 400;
    }
  }

  label.radio.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
