.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.clear {
  clear: both;
}

.nomargin {
  margin: 0;
}

.nopadding {
  padding: 0;
}

.spread {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
