extends shared/base
include shared/nav.pug

block header
  nav
    .wrapper
      h3 double.

block content
  .hero.wrapper
    .content-wrapper
      h1 The easiest way to interact with and visualize the blockchain.
      .button-wrapper
        .button Coming Q2 2018
