$shadow-s: 0 10px 20px rgba(50,60,93,.01), 0 5px 10px rgba(0,0,0,.005);
$shadow-m: 0 25px 50px rgba(50,60,93,.05), 0 5px 15px rgba(0,0,0,.02);
$shadow-l: 0 25px 50px rgba(50,60,93,.1), 0 5px 15px rgba(0,0,0,.05);
$shadow-xl: 0 25px 50px rgba(50,60,93,.2), 0 5px 15px rgba(0,0,0,.1);

@mixin colored-shadow-xs($color) {
  box-shadow: 0 4px 6px rgba($color, .1), 0 1px 3px rgba($color, .08);
}

@mixin colored-shadow-s($color) {
  box-shadow: 0 10px 20px rgba($color, .1), 0 5px 15px rgba($color, .05);
}

@mixin colored-shadow-m($color) {
  box-shadow: 0 10px 20px rgba($color, .1), 0 5px 15px rgba($color, .05);
}

@mixin colored-shadow-l($color) {
  box-shadow: 0 15px 30px rgba($color, .2), 0 5px 15px rgba($color, .1);
}

@mixin colored-shadow-xl($color) {
  box-shadow: 0 15px 30px rgba($color, .3), 0 5px 15px rgba($color, .15);
}
