doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(name='keywords', content='blockchain,cryptocurrency')
    meta(name='url', content='https://doublechain.org')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='white')
    meta(name='theme-color', content='#333')
    link(rel='icon', type='image/png', size='32x32', href='/img/favicon.png')
    meta(property='og:url', content='https://doublechain.org')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Double')
    link(rel='stylesheet', href='https://use.typekit.net/acu4zjx.css')
    block head
  body
    #page-wrapper
      #page-header
        block header
      #page-content
        block content
      #page-footer
        include footer
