footer
  .wrapper
    .footer-content
      .logo.column
        h3 double.
        .copyright © 2018
      .nav.column
        a(target='_blank', href='https://github.com/doubleproject') GitHub
        a(target='_blank', href='https://t.me/doubleproject') Telegram
        a(href='mailto:contact@doubleproject.org') Contact
