@import '../define/all';

@media screen and (max-width: 30rem) {
  .form {
    width: 100%;
  }
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: $padding;

  &.has-subtext {
    margin-bottom: $padding-xs;
  }
}

.form-group.restricted {
  max-width: 400px;
}

.form-label {
  @include default-transition();
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  position: relative;
  min-width: 6rem;
  height: 2rem;
  line-height: 2rem;
  color: $gray2;
  margin-top: 2px;
}

.form-control.line + .form-label {
  border-bottom: 1px solid $white3;
}

@each $intent, $color in $intent-colors {
  .form-control.line.#{$intent} + .form-label {
    color: $color;
  }
}

@media #{$phone} {
  .form-control.line:not(.noshrink) + .form-label {
    border-bottom: none;
    min-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 1.3rem;
    line-height: 1.3rem;
  }
}

.form-control {
  @include default-transition();
  min-height: 2rem;
  display: block;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
}

.form-group .form-control {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  min-width: calc(100% - 8rem);
  max-width: 100%;
}

.form-control.line {
  border-bottom: 1px solid $white3;
  padding: 0.25rem 1rem 0;
}

.form-control.bordered {
  border: 1px solid $white5;
  border-radius: $border-radius;
  line-height: 2rem;
  box-shadow: inset 0 0 2px rgba($black3, 0.05);
  padding: 2px 12px;
}

.form-group .form-control.bordered {
  margin-left: 5px;
}

.form-control.bordered + .form-label {
  margin-top: 4px;
}

.buttoned-input {
  display: flex;

  .form-control.bordered {
    max-width: inherit;
    width: auto;
    flex-grow: 1;
    margin-right: $padding-xs;
  }
}

@media #{$phone} {
  .buttoned-input {
    display: block;

    .form-control.bordered {
      width: 100%;
    }

    button {
      margin-top: $padding-xs;
    }
  }
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input.form-control, select.form-control, textarea.form-control {
  color: $gray5;
}

.form-control:hover {
  border-color: $gray1;
}

.form-control:hover + .form-label {
  border-color: $gray1;
  color: $gray3;
}

.form-control:focus {
  border-color: $brand3;
}

.form-control.bordered:focus {
  box-shadow: inset 0 1px 2px rgba($black3 ,0.075), 0 0 0 2px rgba($brand3, 0.2);
}

.form-control:focus + .form-label {
  color: $brand3;
  border-color: $brand3;
}

select.form-control:focus {
  border-color: $white2;
}

select.form-control:focus + .form-label {
  color: $gray3;
  border-color: $white2;
}

.form-control label + label {
  padding-left: 2rem;
}

@media #{$phone} {
  .form-control.line:not(.noshrink) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .form-control label {
    padding-right: 1rem;
  }

  .form-control label + label {
    padding-left: 0;
  }
}

select.form-control {
  padding: 0 1rem;
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media #{$portable} {
  select.form-control {
    padding: 0;
  }
}

.form-control[type='file'] {
  padding-top: 0;
}

.form-control:disabled,
.form-control:disabled + .form-label {
  cursor: not-allowed;
  color: $gray1;
  -webkit-text-fill-color: $gray1;
  opacity: 1;
}

.form-control[readonly],
.form-control[readonly] + .form-label {
  color: $gray1;
}

.form-control:required + .form-label:after {
  content: ' *';
  color: $vermilion3;
}

.help-block {
  @include default-transition();
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  min-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-top: 0;
  font-size: 13px;
  padding-left: 7rem;
  color: $brand3;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.form-control:focus ~ .help-block:not(.invisible), .help-block.visible {
  opacity: 1;
  max-height: 100px;
  margin-top: 10px;
}

@each $intent, $color in $intent-colors {
  .form-control.#{$intent}, .form-control.#{$intent} + .form-label {
    border-color: $color;
  }

  .form-control.#{$intent}.bordered:focus {
    box-shadow: inset 0 1px 2px rgba($black3 ,0.075), 0 0 0 2px rgba($color, 0.2);
  }

  .form-control.#{$intent} ~ .help-block {
    color: $color;
  }
}

@media #{$portable} {
  .help-block {
    padding-left: 0;
  }
}

textarea {
  @include default-transition();
  display: block;
  width: 100%;
  height: 200px;
  padding: $padding-xs;
  border: 1px dashed $white5;
  outline: none;
  border-radius: $border-radius;
  box-shadow: inset 0 0 2px rgba($black3, 0.1);
  color: $black3;
  font-size: 14px;

  &:hover {
    border: 1px dashed $brand3;
  }

  &:focus {
    border: 1px solid $brand3;
    box-shadow: inset 0 1px 2px rgba($black3 ,0.075), 0 0 0 2px rgba($brand3, 0.2);
  }
}
