@import '../define/all';

.menu {
  @include default_transition();
  opacity: 0;
  border: 1px solid $white3;
  margin-top: $padding-s;
  padding: $padding;
  pointer-events: none;
}

.menu.open {
  opacity: 1;
  margin-top: $padding;
  pointer-events: auto;
}
