@import '../define/all';

$bubble-d: 64px;                // bubble diameter
$bubble-r: 0.5 * $bubble-d;     // bubble radius
$sparkle-d: 6px;                // sparkle diameter
$sparkle-r: 0.5 * $sparkle-d;   // sparkle radius
$button-size: 30px;             // size of the button (clickable area)

@mixin sparkles($k) {
  $shadow-list: ();
  $n-groups: 7;
  $group-base-angle: 360deg / $n-groups;
  $group-distr-r: (1 + $k * .25) * $bubble-r;
  $n-sparkles: 2;
  $sparkle-base-angle: 360deg/$n-sparkles;
  $sparkle-off-angle: 60deg; // offset angle from radius
  $spread-r: -$k * $sparkle-r;

  @for $i from 0 to $n-groups {
    $group-curr-angle: $i * $group-base-angle - 90deg;
    $xg: $group-distr-r * cos($group-curr-angle);
    $yg: $group-distr-r * sin($group-curr-angle);

    @for $j from 0 to $n-sparkles {
      $sparkle-curr-angle: $group-curr-angle + $sparkle-off-angle +
          $j * $sparkle-base-angle;
      $xs: $xg + $sparkle-d * cos($sparkle-curr-angle);
      $ys: $yg + $sparkle-d * sin($sparkle-curr-angle);
      $shadow-list: $shadow-list,
          $xs $ys 0 $spread-r hsl(($i + $j) * $group-base-angle, 100%, 75%);
    }
  }

  box-shadow: $shadow-list;
}

@mixin bubble($ext) {
  transform: scale(1);
  border-color: $rose1;
  border-width: $ext;
}

@keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    @include bubble($bubble-r);
  }

  30%, 100% {
    @include bubble(0);
  }
}

@keyframes sparkles {
  0%, 20% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
    @include sparkles(0);
  }
}

.star {
  position: relative;
  font-size: 18px;
  display: flex;
  width: $button-size;
  height: $button-size;
  align-items: center;
}

input.toggle-star {
  position: absolute;
  left: -100vw;

  &:checked + label {
    color: $gold2;
    filter: none;
    will-change: font-size;
    animation: heart 0.5s cubic-bezier(.17, .89, .57, 1.21);

    &:after, &:before {
      animation: inherit;
      animation-timing-function: ease-out;
    }

    &:before {
      opacity: 0.2;
      will-change: transform, border-width, border-color;
      animation-name: bubble;
    }

    &:after {
      will-change: opacity, box-shadow;
      animation-name: sparkles;
    }
  }
}

label.toggle-star {
  @include default-transition();
  color: $white5;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: $button-size;
  height: $button-size;
  line-height: $button-size;

  &:hover {
    color: $gray1;
  }
}

label.toggle-star.animated {
  &:after, &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: '';
  }

  &:before {
    box-sizing: border-box;
    margin: -$bubble-r;
    border: solid $bubble-r $rose3;
    width: $bubble-d;
    height: $bubble-d;
    transform: scale(0);
  }

  &:after {
    margin: -$sparkle-r;
    width: $sparkle-d;
    height: $sparkle-d;
    @include sparkles(1);
  }
}
