@import '../define/all';

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  vertical-align: top;
  border: 1px solid $white3;
  padding: 0.5rem 0.5rem 0.4rem;
}

thead th {
  text-align: center;
  background-color: $white2;
}

caption {
  caption-side: bottom;
  padding-top: 0.5rem;
  color: $gray3;
}

.table-fixed {
  table-layout: fixed;
}

.table-striped tr:nth-child(even) td {
  background-color: $white1;
}

.table-hover tr:hover td {
  background-color: $white2;
}

.table-narrow th, .table-narrow td {
  padding: 0.25rem 0.25rem 0.2rem;
}

.table-wide th, .table-wide td {
  padding: 1rem 1rem 0.8rem;
}
