@import '../define/all';

.well {
  border: 1px solid $white3;
  padding: $padding-xl;
  text-align: center;

  svg.well-icon, h3, .description {
    display: block;
    text-align: center;
    margin: $padding auto;
    max-width: 600px;
  }

  svg.well-icon, h3 {
    color: $black1;
  }

  svg.well-icon {
    font-size: 64px;
    margin-bottom: $padding-xl;
  }

  .description {
    color: $gray3;
  }

  a {
    display: inline-block;
  }
}
