/** Monotonic colors */

$black: #000;

$black1: #111;
$black2: #171717;
$black3: #222;
$black4: #272727;
$black5: #333;

$gray1: #aeaeae;
$gray2: #959595;
$gray3: #8e8e8e;
$gray4: #7d7d7d;
$gray5: #6d6d6d;

$white: #fff;
$white1: #fcfcfc;
$white2: #f9f9f9;
$white3: #f4f4f4;
$white4: #f0f0f0;
$white5: #e8e8e8;

/** Core colors */

$lightblue1: #f5f9ff;
$lightblue2: #eff6ff;
$lightblue3: #dcecff;

$blue1: #57a9ff;
$blue2: #3c9bff;
$blue3: #2991ff;
$blue4: #1581f3;
$blue5: #0068d6;

$lightgreen1: #f3fff9;
$lightgreen2: #e8fff2;
$lightgreen3: #dcf9e9;

$green1: #70e8a1;
$green2: #6dd899;
$green3: #62c48b;
$green4: #46b172;
$green5: #389c61;

$lightorange1: #fff5ec;
$lightorange2: #fff1e4;
$lightorange3: #ffecda;

$orange1: #ffac5c;
$orange2: #ff9c3b;
$orange3: #f87e07;
$orange4: #e07710;
$orange5: #c3660a;

$lightred1: #fff5f6;
$lightred2: #ffeeef;
$lightred3: #ffe0e3;

$red1: #ff8392;
$red2: #ff6e7f;
$red3: #f76577;
$red4: #de4d5f;
$red5: #c74454;

/** Extended colors */

$lightvermilion1: #fff6f3;
$lightvermilion2: #ffece7;
$lightvermilion3: #ffd7cd;

$vermilion1: #ff6a45;
$vermilion2: #f95830;
$vermilion3: #f33f12;
$vermilion4: #ec4014;
$vermilion5: #d42b00;

$lightrose1: #ffeff5;
$lightrose2: #ffe3ed;
$lightrose3: #ffcfe1;

$rose1: #ff66a1;
$rose2: #f5498b;
$rose3: #db2c6f;
$rose4: #c22762;
$rose5: #a82255;

$lightviolet1: #fff0ff;
$lightviolet2: #f5dff5;
$lightviolet3: #eac6ea;

$violet1: #c274c2;
$violet2: #a854a8;
$violet3: #8f398f;
$violet4: #752f75;
$violet5: #5c255c;

$lightindigo1: #f4f2ff;
$lightindigo2: #e8e3ff;
$lightindigo3: #d7ceff;

$indigo1: #ad99ff;
$indigo2: #9179f2;
$indigo3: #7157d9;
$indigo4: #634dbf;
$indigo5: #5642a6;

$lightcobalt1: #f2f7ff;
$lightcobalt2: #e4eeff;
$lightcobalt3: #cddfff;

$cobalt1: #669eff;
$cobalt2: #4580e6;
$cobalt3: #2965cc;
$cobalt4: #2458b3;
$cobalt5: #1f4b99;

$lightturquoise1: #eafbf9;
$lightturquoise2: #d1f3f0;
$lightturquoise3: #c0f5f0;

$turquoise1: #2ee6d6;
$turquoise2: #14ccbd;
$turquoise3: #00b3a4;
$turquoise4: #00998c;
$turquoise5: #008075;

$lightforest1: #f2fff3;
$lightforest2: #dcf7de;
$lightforest3: #c5f3c8;

$forest1: #62d96b;
$forest2: #43bf4d;
$forest3: #29a634;
$forest4: #238c2c;
$forest5: #1d7324;

$lightlime1: #fbfff1;
$lightlime2: #f2f9de;
$lightlime3: #eaf7c5;

$lime1: #d1f26d;
$lime2: #b6d94c;
$lime3: #9bbf30;
$lime4: #87a629;
$lime5: #728c23;

$lightgold1: #fffbf0;
$lightgold2: #fbf1d8;
$lightgold3: #fbeac0;

$gold1: #ffc940;
$gold2: #f2b824;
$gold3: #d99e0b;
$gold4: #bf8c0a;
$gold5: #a67908;

$lightsky1: #f3fdff;
$lightsky2: #e0fbff;
$lightsky3: #bff2f9;

$sky1: #00e2ff;
$sky2: #00c5de;
$sky3: #00bcd4;
$sky4: #00adc3;
$sky5: #0097a7;

$lightsepia1: #fbf3ec;
$lightsepia2: #f3e2d1;
$lightsepia3: #ecd2b8;

$sepia1: #c99765;
$sepia2: #b07b46;
$sepia3: #96622d;
$sepia4: #7d5125;
$sepia5: #63411e;

$lightbrand1: $lightblue1;
$lightbrand2: $lightblue2;
$lightbrand3: $lightblue3;

$brand1: $blue1;
$brand2: $blue2;
$brand3: $blue3;
$brand4: $blue4;
$brand5: $blue5;
