@import 'colors';

$intent-colors: (
  'success': $forest3,
  'warning': $gold3,
  'error': $vermilion3,
  'info': $sky3,
  'default': $gray3,
  'brand': $brand3,
);

$intent-hover-colors: (
  'success': $forest2,
  'warning': $gold2,
  'error': $vermilion2,
  'info': $sky2,
  'default': $gray2,
  'brand': $brand2,
);

$intent-light-colors: (
  'success': $lightforest1,
  'warning': $lightgold1,
  'error': $lightvermilion1,
  'info': $lightsky1,
  'default': $white1,
  'brand': $lightbrand1,
);
