extends shared/layout/base
include shared/layout/nav

block head
  title Double - Interact with blockchains with ease
  link(rel='stylesheet', href='/index.css')

block header
  nav
    .wrapper
      h3 double.

block content
  .hero.wrapper
    .content-wrapper
      img#hero-image(src='/img/terminal.png')
      h1 Build for and interact with blockchains with ease.
      .button-wrapper
        .button Coming Q2 2018
