@import 'core/define/all';

#page-wrapper, #page-content {
  width: 100%;
}

nav {
  padding: $padding;

  h3 {
    text-align: center;
    color: $black3;
  }
}

.hero {
  position: relative;

  #hero-image {
    max-width: 635px;
    margin: auto;
    display: block;
  }

  h1, .button-wrapper {
    text-align: center;
  }

  h1 {
    margin-top: $padding-xl;
    font-size: 40px;
    font-weight: bold;
    max-width: 600px;
    margin: auto;
  }

  .button {
    margin-top: $padding-l;
    color: $orange3;
    display: inline-block;
    border: 1px solid $orange3;
    border-radius: $border-radius;
    padding: $padding-xxs $padding-xs;
  }
}

@media #{$portable} {
  .hero {
    #hero-image {
      max-width: 100%;
    }

    h1 {
      font-size: 36px;
    }
  }
}

@media #{$phone} {
  .hero {
    h1 {
      font-size: 32px;
    }
  }
}
