@import 'core/define/all';

#page-wrapper, #page-content {
  width: 100%;
}

nav {
  position: absolute;
  width: 100%;
  padding: $padding;

  .wrapper {
    border-bottom: 1px solid $white3;
  }

  h3 {
    text-align: center;
    color: $gray1;
  }
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;

  .content-wrapper {
    position: absolute;
    left: $padding;
    right: $padding;
    bottom: $padding-xxl;
  }

  h1, .button-wrapper {
    text-align: center;
  }

  h1 {
    margin-top: $padding-xl;
    font-size: 40px;
    font-weight: bold;
    max-width: 600px;
    margin: auto;
  }

  .button {
    margin-top: $padding-l;
    color: $gray1;
    display: inline-block;
    border: 1px solid $gray1;
    border-radius: $border-radius;
    padding: $padding-xxs $padding-xs;
  }
}
